## Transformation

In [1]:

import pandas as pd

In [387]:
df = pd.read_csv('./1Food_Inspections.csv')

In [388]:

#import os
#from src.etl import etl


#def load_ingestion(path):
#    return etl.load_df(path)

def estandariza_variables(df):
    columnas_antes=df.columns
    df.columns=df.columns.str.replace(' ','_')
    df.columns=df.columns.str.replace('#','num')
    df.columns=df.columns.str.lower()


def cambiar_minusculas_variable(archivo,variable):
    archivo[variable]=archivo[variable].str.lower()
    
    

def date_transformation(col,df):
    df[col]=pd.to_datetime(df[col])
    return df

def numeric_transformation(col,df):
    df[col]=pd.to_numeric(df[col], )
    return df

def categoric_trasformation(col,df):
    df = df.astype({col:'category'}) 
    return df

def time_transformation(col,df):
    df[col]=pd.to_datetime(df[col], errors='coerce',format='%H:%M:%S')
    return df

def data_imputation_state(col,df):
    return df[df[col]== "il"]

#def data_imputation_city(col,df):
#    return df[df[col]].replace(to_replace = ["312chicago", "cchicago", "chchicago", "chcicago", \
#                                            "chicagochicago", "chicagohicago", "chicagoi"], value= "chicago")

def data_imputation_spell(df):
    return df.replace(to_replace = ["312chicago", "cchicago", "chchicago", "chcicago", \
                                            "chicagochicago", "chicagohicago", "chicagoi", \
                                    "chicago."], value= "chicago")


def data_imputation_city(col,df):
    return df[df[col]== "chicago"]

#def save_transformation(df):
#    path = 'output/transformation_df.pkl'
#    utils.save_df(df, path)


def transform(df):
#def transform(path):
    #df = load_ingestion(path)
    estandariza_variables(df)
    
    cambiar_minusculas_variable(df,'dba_name')
    cambiar_minusculas_variable(df,'aka_name')
    cambiar_minusculas_variable(df,'facility_type')
    cambiar_minusculas_variable(df,'risk')
    cambiar_minusculas_variable(df,'address')
    cambiar_minusculas_variable(df,'city')
    cambiar_minusculas_variable(df,'state')
    cambiar_minusculas_variable(df,'inspection_type')
    cambiar_minusculas_variable(df,'results')
    cambiar_minusculas_variable(df,'violations')
    
    categoric_trasformation('risk',df)   
    date_transformation('inspection_date',df)
    data_imputation_state('state',df)
    data_imputation_spell(df)
    data_imputation_city('city',df)
    
    return df
    
    #df['inspection_id']=df['inspection_id'].astype('str')
    #df['license_num']=df['license_num'].astype('str')
    #df['zip']=df['zip'].astype('str')
    
    #df = time_transformation('inspection_date',df)
    


    #save_transformation(df)

In [389]:
transform(df)

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,2453552,clamp down burgers,NaN,2749943.0,NaN,risk 2 (medium),1742 w division st,chicago,il,60622.0,2020-10-20,license,no entry,NaN,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)"
1,2386633,jin ju,jin ju,27137.0,restaurant,risk 1 (high),5203 n clark st,chicago,il,60640.0,2020-08-28,canvass,no entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
2,2386595,la biznaga #2,la biznaga #2,2708992.0,NaN,risk 1 (high),2949 w belmont ave,chicago,il,60618.0,2020-08-27,complaint,no entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
3,2386464,uni sushi bristo,uni sushi bistro,2262637.0,restaurant,risk 1 (high),1752 w north ave,chicago,il,60622.0,2020-08-25,complaint,no entry,NaN,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)"
4,2386398,kiki's bistro,kiki's bistro,22899.0,restaurant,risk 1 (high),900 n franklin st,chicago,il,60610.0,2020-08-24,canvass,no entry,NaN,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",zullo's market,2016915.0,restaurant,risk 2 (medium),131 n clinton st,chicago,il,60661.0,2010-02-18,license,fail,NaN,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)"
215063,68205,la fonda chiquita tlc,la fonda chiquita,2017215.0,restaurant,risk 1 (high),5940 w diversey ave,chicago,il,60639.0,2010-02-09,license,fail,12. hand washing facilities: with soap and san...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)"
215064,88234,kabab cuisine 2,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),6320 n lincoln ave,chicago,il,60659.0,2010-02-01,license re-inspection,pass,NaN,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)"
215065,74311,margarita distributors,NaN,2017298.0,wholesale,risk 3 (low),2332 s blue island ave bldg,chicago,il,60608.0,2010-02-19,license re-inspection,pass,NaN,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)"
215066,67838,our lady of lourdes,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),1449 s keeler ave,chicago,il,60623.0,2010-01-12,canvass,fail,18. no evidence of rodent or insect outer open...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)"

## Feature engineering

In [371]:

#import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date
import string
#from src.utils import utils
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
#from sklearn.impute import SimpleImputer
#from sklearn.compose import ColumnTransformer
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import TimeSeriesSplit
#from sklearn.model_selection import GridSearchCV

In [380]:
df

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,2453552,clamp down burgers,NaN,2749943.0,NaN,risk 2 (medium),1742 w division st,chicago,il,60622.0,10/20/2020,license,no entry,NaN,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)"
1,2386633,jin ju,jin ju,27137.0,restaurant,risk 1 (high),5203 n clark st,chicago,il,60640.0,08/28/2020,canvass,no entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
2,2386595,la biznaga #2,la biznaga #2,2708992.0,NaN,risk 1 (high),2949 w belmont ave,chicago,il,60618.0,08/27/2020,complaint,no entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
3,2386464,uni sushi bristo,uni sushi bistro,2262637.0,restaurant,risk 1 (high),1752 w north ave,chicago,il,60622.0,08/25/2020,complaint,no entry,NaN,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)"
4,2386398,kiki's bistro,kiki's bistro,22899.0,restaurant,risk 1 (high),900 n franklin st,chicago,il,60610.0,08/24/2020,canvass,no entry,NaN,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",zullo's market,2016915.0,restaurant,risk 2 (medium),131 n clinton st,chicago,il,60661.0,02/18/2010,license,fail,NaN,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)"
215063,68205,la fonda chiquita tlc,la fonda chiquita,2017215.0,restaurant,risk 1 (high),5940 w diversey ave,chicago,il,60639.0,02/09/2010,license,fail,12. hand washing facilities: with soap and san...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)"
215064,88234,kabab cuisine 2,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),6320 n lincoln ave,chicago,il,60659.0,02/01/2010,license re-inspection,pass,NaN,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)"
215065,74311,margarita distributors,NaN,2017298.0,wholesale,risk 3 (low),2332 s blue island ave bldg,chicago,il,60608.0,02/19/2010,license re-inspection,pass,NaN,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)"
215066,67838,our lady of lourdes,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),1449 s keeler ave,chicago,il,60623.0,01/12/2010,canvass,fail,18. no evidence of rodent or insect outer open...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)"

In [390]:
def add_column_days(df):
    hoy = date.today().strftime("%Y-%m-%d")
    ins = df['inspection_date'].apply(lambda x: x.strftime("%Y-%m-%d"))
    fecha1 = datetime.strptime(hoy, "%Y-%m-%d")
    fecha2 = ins.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
    df['days'] = fecha1 - fecha2
    return df

def add_column_month(df):
    df['inspection_month'] = df['inspection_date'].dt.month
    return df

def add_column_day(df):
    df['inspection_day'] = df['inspection_date'].dt.dayofweek
    return df

def add_column_violation_num(df):
    df['violations']=df['violations'].fillna("0")
    df['violation_num'] = df['violations'].apply(lambda row:[int(Numero) for Numero in row.split(".")\
                                                             if Numero.isdigit()][0])    
    return df


#def add_column_pass(df):
#    df['pass'] = df['results'].replace(to_replace = "pass w/ conditions", value= "pass")
#    df['pass_fail'] = df['pass'].replace(to_replace = ["business not located","no entry", \
#                                                          "not ready","out of business"], value= "fail")
#    df = df.drop(['pass'],axis=1)
#    return df

def add_column_pass(df):
    
    #df['results_des'] = df['results']

    dic_results = {'pass': 'pass',
                   'out of business': 'fail',
                   'no entry': 'fail',
                   'fail': 'fail',
                   'not ready': 'fail',
                   'pass w/ conditions': 'pass',
                   'business not located': 'fail'}
    df['pass'] = df.results.map(dic_results)
    return df


def add_column_risky(df):
    dic_risk = {'risk 1 (high)': 'high',
                   'risk 2 (medium)': 'medium',
                   'risk 3 (low)': 'low',
                   'all': 'high'}
    df['risky'] = df.risk.map(dic_risk)
    
    return df


def new_features(df):
    add_column_days(df)
    add_column_month(df)
    add_column_day(df)
    add_column_violation_num(df)
    add_column_pass(df)
    add_column_risky(df)
    return df


def feature_generation(df):
    df.inputs = df.drop(['aka_name', 'address', 'city', 'state','latitude', 'longitude', \
                         'location'], axis=1)
    return df.inputs

def feature_selection(df):
        #Dividir la base en train y test
    df_train,df_test = train_test_split(df,test_size=0.2,random_state=4,shuffle=True)

In [392]:
new_features(df)

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,...,violations,latitude,longitude,location,days,inspection_month,inspection_day,violation_num,pass,risky
0,2453552,clamp down burgers,NaN,2749943.0,NaN,risk 2 (medium),1742 w division st,chicago,il,60622.0,...,0,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)",165 days,10,1,0,fail,medium
1,2386633,jin ju,jin ju,27137.0,restaurant,risk 1 (high),5203 n clark st,chicago,il,60640.0,...,0,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)",218 days,8,4,0,fail,high
2,2386595,la biznaga #2,la biznaga #2,2708992.0,NaN,risk 1 (high),2949 w belmont ave,chicago,il,60618.0,...,0,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)",219 days,8,3,0,fail,high
3,2386464,uni sushi bristo,uni sushi bistro,2262637.0,restaurant,risk 1 (high),1752 w north ave,chicago,il,60622.0,...,0,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)",221 days,8,1,0,fail,high
4,2386398,kiki's bistro,kiki's bistro,22899.0,restaurant,risk 1 (high),900 n franklin st,chicago,il,60610.0,...,0,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)",222 days,8,0,0,fail,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",zullo's market,2016915.0,restaurant,risk 2 (medium),131 n clinton st,chicago,il,60661.0,...,0,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)",4062 days,2,3,0,fail,medium
215063,68205,la fonda chiquita tlc,la fonda chiquita,2017215.0,restaurant,risk 1 (high),5940 w diversey ave,chicago,il,60639.0,...,12. hand washing facilities: with soap and san...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)",4071 days,2,1,12,fail,high
215064,88234,kabab cuisine 2,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),6320 n lincoln ave,chicago,il,60659.0,...,0,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)",4079 days,2,0,0,pass,high
215065,74311,margarita distributors,NaN,2017298.0,wholesale,risk 3 (low),2332 s blue island ave bldg,chicago,il,60608.0,...,0,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)",4061 days,2,4,0,pass,low
215066,67838,our lady of lourdes,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),1449 s keeler ave,chicago,il,60623.0,...,18. no evidence of rodent or insect outer open...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)",4099 days,1,1,18,fail,high

In [339]:

#df.violation_num.unique()
dfy = df.groupby('risky').nunique()
dfy

#dfy[dfy['inspection_id']<100]

#sum(df['risk'].isnull())
#df[df['risk'] == 'all']

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location,pass1,pass
risky,,,,,,,,,,,,,,,,,,,
high,153733,15669,15045,21457,189,2,11063,1,1,61,2766,67,7,118024,10549,10549,10549,2,2
low,19015,7823,7369,9583,208,1,6041,1,1,60,2613,41,7,9069,5842,5842,5842,2,2
medium,41872,6297,5905,8104,154,1,5095,1,1,59,2711,42,7,29565,4950,4950,4950,2,2

In [69]:
feature_generation(df)
#imputar na:
#facility_type most_frequent
#risk most_frequent
#zip most_frequent
#inspection_type most_frequent

#one hot:
##facility_type
#risk
#zip
#inspection_type
#results
#inspection_month
#inspection_day
#violations
#inspection_month
#inspection_day

,inspection_id,dba_name,license_num,facility_type,risk,zip,inspection_date,inspection_type,results,violations,days,inspection_month,inspection_day
0,2453552,clamp down burgers,2749943.0,NaN,risk 2 (medium),60622.0,2020-10-20,license,no entry,NaN,164 days,10,20
1,2386633,jin ju,27137.0,restaurant,risk 1 (high),60640.0,2020-08-28,canvass,no entry,NaN,217 days,8,28
2,2386595,la biznaga #2,2708992.0,NaN,risk 1 (high),60618.0,2020-08-27,complaint,no entry,NaN,218 days,8,27
3,2386464,uni sushi bristo,2262637.0,restaurant,risk 1 (high),60622.0,2020-08-25,complaint,no entry,NaN,220 days,8,25
4,2386398,kiki's bistro,22899.0,restaurant,risk 1 (high),60610.0,2020-08-24,canvass,no entry,NaN,221 days,8,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",2016915.0,restaurant,risk 2 (medium),60661.0,2010-02-18,license,fail,NaN,4061 days,2,18
215063,68205,la fonda chiquita tlc,2017215.0,restaurant,risk 1 (high),60639.0,2010-02-09,license,fail,12. hand washing facilities: with soap and san...,4070 days,2,9
215064,88234,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),60659.0,2010-02-01,license re-inspection,pass,NaN,4078 days,2,1
215065,74311,margarita distributors,2017298.0,wholesale,risk 3 (low),60608.0,2010-02-19,license re-inspection,pass,NaN,4060 days,2,19
215066,67838,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),60623.0,2010-01-12,canvass,fail,18. no evidence of rodent or insect outer open...,4098 days,1,12

In [264]:
class_encoder = OneHotEncoder(categories="auto")